<div class="row d-flex p-2 m-1 fs-5">  
  <h2 class="text-center fw-bold"> Update Your Educational Details</h2>
 
    <div class="table-responsive shadow bg-light rounded">
      <table class="table table-bordered table-striped-columns border border-dark rounded">
        <thead class="text-capitalize text-center fw-bold table-dark text-white">
          <tr class="">
            <th>Level</th>
            <th>Board/University</th>
            <th>SubJect/Course</th>
            <th>Roll Number</th>
            <th>Passing Year</th>
            <th>Percentage</th>
            <th>Upload Marksheet</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
      <form>
            <td>10<sup>th</sup></td>
            <td>
              <!-- Registration_No Form Join Table -->
              <input type="hidden" formControlName="Registration_No" id="Registration_No" name="Registration_No">
              <!--  -->
              <select formControlName ="BoardName" class="form-select" id="10thBoardOrUniversity"  name="10thBoardOrUniversity" required>
                <option value="">Select</option>
                <option value="1">Central Board of Secondary Education (CBSE)</option>
                <option value="2">Chhattisgarh Board Of Secondary Education (CGBSE)</option>
                <option value="3">Other State Board</option>
              </select>
            </td>
            <td><input type="text" formControlName="CourseName" class="form-control" id="Course" name="course_name" required></td>
            <td><input type="text" formControlName="RollNumber" class="form-control" id="10thRollNumber" name="10thRollNumber" required></td>
            <td>
              <select class="form-select" formControlName="PassingYear" id="10thPassingYear" name="10thPassingYear" required>
                <option value="">Select Year</option>
                <option value="1">2016</option>
                <option value="2">2017</option>
                <option value="3">2018</option>
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                <!-- <option *ngFor="let year of years" [value]="year">{{ year }}</option> -->
              </select>
            </td>
            <td><input type="text" class="form-control" formControlName="Percentage" id="10thPercentage" name="10thPercentage" required></td>
            <td><input type="file" formControlName="Marksheet" class="form-control" id="marksheetUpload10" name="marksheetUpload10" accept=".pdf, .docx, .doc, .txt"></td>
            <td class="text-center d-flex justify-content-between g-2"> 
              <button type="submit" title="Save & Update" class="btn btn-success fw-bold m-1"><i class="fa-solid fa-file-arrow-up"></i></button>
              <a  title="View & Open" class="btn btn-info fw-bold m-1"><i class="fa-solid fa-envelope-open-text text-white"></i></a>
              <a type="" title="Delete & Remove" class="btn btn-danger fw-bold m-1"><i class="fa-solid fa-trash-can"></i></a>
           </td>
          </form>
          </tr>
          
          <tr>
            <td>12<sup>th</sup> </td>
            <td>
              <select class="form-select" id="12thBoardOrUniversity" name="12thBoardOrUniversity" required>
                <option value="">Select</option>
                <option value="1">Central Board of Secondary Education (CBSE)</option>
                <option value="2">Chhattisgarh Board Of Secondary Education (CGBSE)</option>
                <option value="3">Other State Board</option>
              </select>
            </td>
            <td><input type="text" class="form-control" id="Course" name="course_name" required></td>

            <td><input type="text" class="form-control" id="12thRollNumber" name="12thRollNumber" required></td>
            <td>
              <select class="form-select" id="12thPassingYear" name="12thPassingYear" required>
                <option value="">Select Year</option>
                <option value="1">2016</option>
                <option value="2">2017</option>
                <option value="3">2018</option>
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                <!-- <option *ngFor="let year of years" [value]="year">{{ year }}</option> -->
              </select>
            </td>
            <td><input type="text" class="form-control" id="12thPercentage" name="12thPercentage" required></td>
            <td><input type="file" class="form-control" id="marksheetUpload12" name="marksheetUpload12" accept=".pdf, .docx, .doc, .txt"></td>
            <td class="text-center d-flex justify-content-between g-2"> 
              <button type="submit" title="Save & Update" class="btn btn-success fw-bold m-1"><i class="fa-solid fa-file-arrow-up"></i></button>
              <button type="" title="View & Open" class="btn btn-info fw-bold m-1"><i class="fa-solid fa-envelope-open-text text-white"></i></button>
              <button type="" title="Delete & Remove" class="btn btn-danger fw-bold m-1"><i class="fa-solid fa-trash-can"></i></button>
           </td>
          </tr>
          <tr>
              <td>Diploma</td>
              <td>
                <select class="form-select" id="graduationBoardOrUniversity" name="graduationBoardOrUniversity" required>
                  <option value="">Select</option>
                  <option value="1">Amity University, Raipur</option>
                  <option value="2">Atal Bihari Vajpayee Vishwavidyalaya</option>
                  <option value="3">Shaheed Mahendra Karma Vishwavidyalaya</option>
                  <option value="4">Kamdhenu Vishwavidyalaya</option>
                  <option value="5">Swami Vivekanand Technical University</option>
                  <option value="6">Dr. C. V. Raman University</option>
                  <option value="7">Indira Gandhi National Open University</option>
                  <option value="8">Pt. Ravishankar Shukla University</option>
                </select>
              </td>
              <td><input type="text" class="form-control" id="Course" name="course_name" required></td>
              <td><input type="text" class="form-control" id="graduationRollNumber" name="graduationRollNumber" required></td>
              <td>
                <select class="form-select" id="graduationPassingYear" name="graduationPassingYear" required>
                  <option value="">Select Year</option>
                  <option value="1">2016</option>
                <option value="2">2017</option>
                <option value="3">2018</option>
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                  <!-- <option *ngFor="let year of years" [value]="year">{{ year }}</option> -->
                </select>
              </td>
              <td><input type="text" class="form-control" id="graduationPercentage" name="graduationPercentage" required></td>
              <td><input type="file" class="form-control" id="marksheetUploadGraduation" name="marksheetUploadGraduation" accept=".pdf, .docx, .doc, .txt"></td>
              <td class="text-center d-flex justify-content-between g-2"> 
                <button type="submit" title="Save & Update" class="btn btn-success fw-bold m-1"><i class="fa-solid fa-file-arrow-up"></i></button>
                <button type="" title="View & Open" class="btn btn-info fw-bold m-1"><i class="fa-solid fa-envelope-open-text text-white"></i></button>
                <button type="" title="Delete & Remove" class="btn btn-danger fw-bold m-1"><i class="fa-solid fa-trash-can"></i></button>
             </td>
            </tr>
          <tr>
            <td>Graduation</td>
            <td>
              <select class="form-select" id="graduationBoardOrUniversity" name="graduationBoardOrUniversity" required>
                <option value="">Select</option>
                <option value="1">Amity University, Raipur</option>
                <option value="2">Atal Bihari Vajpayee Vishwavidyalaya</option>
                <option value="3">Shaheed Mahendra Karma Vishwavidyalaya</option>
                <option value="4">Kamdhenu Vishwavidyalaya</option>
                <option value="5">Swami Vivekanand Technical University</option>
                <option value="6">Dr. C. V. Raman University</option>
                <option value="7">Indira Gandhi National Open University</option>
                <option value="8">Pt. Ravishankar Shukla University</option>
              </select>
            </td>
            <td><input type="text" class="form-control" id="Course" name="course_name" required></td>
            <td><input type="text" class="form-control" id="graduationRollNumber" name="graduationRollNumber" required></td>
            <td>
              <select class="form-select" id="graduationPassingYear" name="graduationPassingYear" required>
                <option value="">Select Year</option>
                <option value="1">2016</option>
                <option value="2">2017</option>
                <option value="3">2018</option>
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                <!-- <option *ngFor="let year of years" [value]="year">{{ year }}</option> -->
              </select>
            </td>
            <td><input type="text" class="form-control" id="graduationPercentage" name="graduationPercentage" required></td>
            <td><input type="file" class="form-control" id="marksheetUploadGraduation" name="marksheetUploadGraduation" accept=".pdf, .docx, .doc, .txt"></td>
          <td class="text-center d-flex justify-content-between g-2"> 
              <button type="submit" title="Save & Update" class="btn btn-success fw-bold m-1"><i class="fa-solid fa-file-arrow-up"></i></button>
              <button type="submit" title="View & Open" class="btn btn-info fw-bold m-1"><i class="fa-solid fa-envelope-open-text text-white"></i></button>
              <button type="submit" title="Delete & Remove" class="btn btn-danger fw-bold m-1"><i class="fa-solid fa-trash-can"></i></button>
           </td>
           
          </tr>
          <tr>
              <td> Post Graduation</td>
              <td>
                <select class="form-select" id="graduationBoardOrUniversity" name="graduationBoardOrUniversity" required>
                  <option value="">Select</option>
                  <option value="1">Amity University, Raipur</option>
                  <option value="2">Atal Bihari Vajpayee Vishwavidyalaya</option>
                  <option value="3">Shaheed Mahendra Karma Vishwavidyalaya</option>
                  <option value="4">Kamdhenu Vishwavidyalaya</option>
                  <option value="5">Swami Vivekanand Technical University</option>
                  <option value="6">Dr. C. V. Raman University</option>
                  <option value="7">Indira Gandhi National Open University</option>
                  <option value="8">Pt. Ravishankar Shukla University</option>
                </select>
              </td>
              <td><input type="text" class="form-control" id="Course" name="course_name" required></td>
              <td><input type="text" class="form-control" id="graduationRollNumber" name="graduationRollNumber" required></td>
              <td>
                <select class="form-select" id="graduationPassingYear" name="graduationPassingYear" required>
                  <option value="">Select Year</option>
                  <option value="1">2016</option>
                <option value="2">2017</option>
                <option value="3">2018</option>
                <option value="1">2019</option>
                <option value="2">2020</option>
                <option value="3">2021</option>
                  <!-- <option *ngFor="let year of years" [value]="year">{{ year }}</option> -->
                </select>
              </td>
              <td><input type="text" class="form-control" id="graduationPercentage" name="graduationPercentage" required></td>
              <td><input type="file" class="form-control" id="marksheetUploadGraduation" name="marksheetUploadGraduation" accept=".pdf, .docx, .doc, .txt"></td>
              <td class="text-center d-flex justify-content-between g-2"> 
                <button type="submit" title="Save & Update" class="btn btn-success fw-bold m-1"><i class="fa-solid fa-file-arrow-up"></i></button>
                <button type="" title="View & Open" class="btn btn-info fw-bold m-1"><i class="fa-solid fa-envelope-open-text text-white"></i></button>
                <button type="" title="Delete & Remove" class="btn btn-danger fw-bold m-1"><i class="fa-solid fa-trash-can"></i></button>
             </td>
            </tr>
        </tbody>
      </table>
    </div>
  
</div>