<!-- <app-user-header></app-user-header> -->
<!-- Main Contents -->
<div class="container-fluid Mon-Body p-1">
    <div class="Main-Container container mb-2">
        <!-- Row-1-For-Path -->
        <!-- Row-1-For-Path -->
        <div class="row boxes bg-white border-top border-1 border-dark d-flex">
            <!-- Start -->
        <div class="container mt-3">
          <div class="row d-flex p-2 m-1 fs-5">        
            <!-- Info User -->
            <div class="col-lg-5 basic-info">
              <div class="form-group row">
                <label class="col-md-4 col-form-label"><strong>Registration No:</strong></label>
                <div class="col-sm-6">
                    <p class="form-control-plaintext">KRP0000015</p>
                </div>
            </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Name:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">Homesh kumar</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Date of Birth:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">10/05/2000</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Age:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">24</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Gender:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">male</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Email:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">Homegmail.com</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Phone Number:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">6267947724</p>
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label"><strong>Category:</strong></label>
                  <div class="col-sm-8">
                      <p class="form-control-plaintext">OBC</p>
                  </div>
                </div>

            </div>

            <!-- user other info -->
            <div class="col-lg-5 profile-info">

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Marital Status:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">UNMARRIED</p>
                    </div>
                </div>             
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Relative Type:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">FATHER</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Relative Name:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">RAM</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Mother's Name:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">RANI</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Nationality:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">INDIAN</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Domicile CG:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">Chhattisgarh</p>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label"><strong>Address:</strong></label>
                    <div class="col-sm-8">
                        <p class="form-control-plaintext">
                            248,AMBEDKAR CHOWK, DHAMTARI, DHAMTARI, Chhattisgarh-491227
                          </p>
                    </div>
                </div>
            
            </div>

            <!-- Images --> </div><!-- row2 -->

        </div>
        </div>          
    </div>
</div>

